Repository felipeVerger/DigitalBooking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_front, trigger_back

trigger_front:
  stage: triggers
  trigger:
    include: front/.gitlab-ci.yml

trigger_back:
  stage: triggers
  trigger:
    include: back/.gitlab-ci.yml

Update back/.gitlab-ci.yml
  back/.gitlab-ci.yml
Due: trigger_back

Update front/.gitlab-ci.yml
  front/.gitlab-ci.yml
Due: trigger_front

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

cambiando nombre de carpetas y archivos a ingles
  front/reserva-hoteles/src/App.js
  front/reserva-hoteles/src/components/Categories/CategoriesComponents.js
  front/reserva-hoteles/src/components/Categories/index.js
  front/reserva-hoteles/src/components/Navbar/index.js
  front/reserva-hoteles/src/components/Recomendations/RecomendationsComponents.js
  front/reserva-hoteles/src/components/Recomendations/index.js
  front/reserva-hoteles/src/pages/Home.js
Due: none

de espaninglish a inglish
  back/ProyectInt/pom.xml
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/controller/CategoriaController.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/controller/CategoryController.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/exception/BadRequestException.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/exception/ResourceNotFoundException.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/Categoria.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/Category.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/repository/CategoryRepository.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/service/CategoriaService.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/service/CategoryService.java
Due: none

Update front/.gitlab-ci.yml, back/.gitlab-ci.yml
  back/.gitlab-ci.yml
  front/.gitlab-ci.yml
Due: trigger_front, trigger_back

Update back/.gitlab-ci.yml, front/.gitlab-ci.yml
  back/.gitlab-ci.yml
  front/.gitlab-ci.yml
Due: trigger_front, trigger_back

creo pagina producto
  front/reserva-hoteles/src/components/ProductPage/ProductPageComponents.js
  front/reserva-hoteles/src/pages/Product.js
Due: none

mapeando tablas
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/controller/ProductController.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/City.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/Feature.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/Image.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/Product.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/repository/CityRepository.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/repository/FeatureRepository.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/repository/ImageRepository.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/repository/ProductRepository.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/service/ProductService.java
Due: none

adding some events
  front/reserva-hoteles/src/components/Categories/CategoriesComponents.js
  front/reserva-hoteles/src/components/Footer/FooterComponents.js
  front/reserva-hoteles/src/components/Recomendations/RecomendationsComponents.js
  front/reserva-hoteles/src/components/Recomendations/index.js
Due: none

Agregando relacion de tablas
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/Product.java
Due: none

actualizando tabla relaciones
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/Category.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/City.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/Feature.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/Image.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/Product.java
Due: none

modificando static data
  front/reserva-hoteles/src/components/Recomendations/index.js
  front/reserva-hoteles/src/staticData/products.json
Due: none

Path conditions:
  trigger_front: any of: front/*
  trigger_back: any of: back/*
