Repository felipeVerger/DigitalBooking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_a, trigger_b

.gitlab-ci.yml:

stages:
  - triggers
  - deploybd

trigger_a:
  stage: triggers
  trigger:
    include: front/.gitlab-ci.yml
  rules:
    - changes:
        - front/*

trigger_b:
  stage: triggers
  trigger:
    include: back/.gitlab-ci.yml
  rules:
    - changes:
        - back/*

deploy_bd:
  stage: deploybd
  script:
    - echo "This job deploys something else. It will only run when all jobs in the"
    - echo "test stage complete. It will start at about the same time as deploy_a."

Delete .DS_Store
  back/.DS_Store
Due: trigger_b

Add new file
  front/front
Due: trigger_a

Delete front
  front/front
Due: trigger_a

back
  back/.DS_Store
  back/.idea/.gitignore
  back/.idea/BackEnd.iml
  back/.idea/misc.xml
  back/.idea/modules.xml
  back/.idea/runConfigurations.xml
  back/.idea/vcs.xml
  back/ProyectInt/.DS_Store
  back/ProyectInt/.gitignore
  back/ProyectInt/.mvn/wrapper/maven-wrapper.jar
  back/ProyectInt/.mvn/wrapper/maven-wrapper.properties
  back/ProyectInt/README.md
  back/ProyectInt/assets/proyecto_integrador.sql
  back/ProyectInt/mvnw
  back/ProyectInt/mvnw.cmd
  back/ProyectInt/pom.xml
  back/ProyectInt/src/.DS_Store
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/ProyectIntApplication.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/controller/CategoriaController.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/exception/ResourceNotFoundException.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/model/Categoria.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/repository/CategoriaRepository.java
  back/ProyectInt/src/main/java/com/proyecto/proyectInt/service/CategoriaService.java
  back/ProyectInt/src/main/resources/application.properties
  back/ProyectInt/src/test/java/com/proyecto/proyectInt/ProyectIntApplicationTests.java
Due: trigger_b

Add new file
  front/.gitlab-ci.yml
Due: trigger_a

subiendo cambios
  front/reserva-hoteles/src/components/Navbar/NavbarComponent.js
  front/reserva-hoteles/src/components/Navbar/index.js
  front/reserva-hoteles/src/components/Recomendaciones/RecomendacionesComponents.js
  front/reserva-hoteles/src/components/Recomendaciones/index.js
Due: none

recomendaciones responsive y logout menu movil
  front/reserva-hoteles/src/App.css
  front/reserva-hoteles/src/components/Categorias/CategoriasComponents.js
  front/reserva-hoteles/src/components/MobileMenu/index.js
  front/reserva-hoteles/src/components/Navbar/index.js
  front/reserva-hoteles/src/components/Recomendaciones/RecomendacionesComponents.js
  front/reserva-hoteles/src/components/Recomendaciones/index.js
Due: none

actaulizando
  front/reserva-hoteles/src/components/Recomendaciones/RecomendacionesComponents.js
Due: none

Update README.md
  README.md
Due: none

arreglo data usuario header
  front/reserva-hoteles/src/components/Form/LoginForm.js
  front/reserva-hoteles/src/components/Header/HeaderComponents.js
  front/reserva-hoteles/src/components/Header/index.js
Due: none

Add back Dockerfile
  back/Dockerfile
Due: trigger_b

avatar usuario mejorado
  front/reserva-hoteles/src/components/Header/HeaderComponents.js
  front/reserva-hoteles/src/components/Header/index.js
  front/reserva-hoteles/src/components/MobileMenu/MobileMenuComponents.js
  front/reserva-hoteles/src/components/MobileMenu/index.js
Due: none

bugs
  front/reserva-hoteles/src/components/Form/LoginForm.js
  front/reserva-hoteles/src/components/Form/RegisterForm.js
  front/reserva-hoteles/src/components/Header/HeaderComponents.js
  front/reserva-hoteles/src/components/MobileMenu/MobileMenuComponents.js
  front/reserva-hoteles/src/components/MobileMenu/index.js
  front/reserva-hoteles/src/components/Recomendaciones/RecomendacionesComponents.js
  front/reserva-hoteles/src/components/Recomendaciones/index.js
Due: none

header sticky no andaba
  front/reserva-hoteles/src/components/Header/HeaderComponents.js
  front/reserva-hoteles/src/components/Navbar/NavbarComponent.js
Due: none

Delete .DS_Store
  .DS_Store
Due: none

Delete .DS_Store 🤬
  front/.DS_Store
Due: trigger_a

Add new file
  front/reserva-hoteles/Dockerfile
Due: none

limpiando
  front/reserva-hoteles/src/components/Categorias/CategoriasComponents.js
  front/reserva-hoteles/src/components/Recomendaciones/RecomendacionesComponents.js
  front/reserva-hoteles/src/components/Recomendaciones/index.js
Due: none

subo .gitignore
  .gitignore
Due: none

subo pipeline front
  front/.gitlab-ci.yml
  front/reserva-hoteles/.dockerignore
  front/reserva-hoteles/nginx/nginx.conf
Due: trigger_a

actualizo pipeline+back
  .gitlab-ci.yml
  back/.gitlab-ci.yml
  back/Dockerfile
  front/.gitlab-ci.yml
  front/Dockerfile
Due: trigger_a, trigger_b

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update front/.gitlab-ci.yml
  front/.gitlab-ci.yml
Due: trigger_a

actualizo ruta dockerfile
  front/Dockerfile
Due: trigger_a

actualizo pipelines. excepcion en java.
  back/.gitlab-ci.yml
  back/Dockerfile
  front/.gitlab-ci.yml
Due: trigger_a, trigger_b

actualizo rutas
  back/.gitlab-ci.yml
Due: trigger_b

++log4j2 y otras dependencias
  back/ProyectInt/pom.xml
  back/ProyectInt/prueba
  back/ProyectInt/src/main/resources/application.properties
  back/ProyectInt/src/main/resources/log4j2.xml
Due: none

++log4j2 y otras dependencias
  front/.gitlab-ci.yml
Due: trigger_a

arreglo npm
  front/reserva-hoteles/package-lock.json
  front/reserva-hoteles/package.json
  front/reserva-hoteles/src/components/Navbar/index.js
Due: none

cicd -.-
  back/Dockerfile
  back/ProyectInt/app.log
  back/ProyectInt/assets/Dockerfile
  back/ProyectInt/pom.xml
Due: trigger_b

Update back/.gitlab-ci.yml
  back/.gitlab-ci.yml
Due: trigger_b
